body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;
}

.App .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.App .row .card {
  width: 100%;
}

.NumberOfMembers .inout {
}

.NumberOfMembers .inout h3 {
  margin: 0;
}

.NumberOfMembers .inout .list span {
 display: block;
}

.List .option {
  display: flex;
  justify-content: space-between;
}
